.row {
  background-color: rgb(255, 254, 255);

  display: flex;
}

.col {
  flex: 1;
  background-color: rgb(101, 157, 161);
  margin: 20px;
  height: 40px;
}

.col-2 {
  flex: 2;
  background-color: rgb(101, 157, 161);
  margin: 20px;
  height: 40px;
}

.col-3 {
  flex: 3;
  background-color: rgb(101, 157, 161);
  margin: 20px;
  height: 40px;
}
* {
  color: white;
}
