body {
    font-family: "Roboto", sans-serif;
  }
  
  .nav {
    background-color: #333333;
    color: #ffffff;
    height: 80px;
    width: 1000px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-title {
    margin-left: 20px;
  }
  
  .btn {
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px #000000;
  }

  
  .moveleft
  {
    margin-left: -390px;

  }

  #moveleft
  {
    margin-left: -400px;

  }







  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="nav">
        <h1 class="nav-title">Profile</h1>
        <ul class="nav-links">
          <li><a class="moveleft" id="moveleft" href="#">Home</a></li>
          <li><a id="moveleft" href="#" class="active">My Profile</a></li>
          <li><a id="moveleft" href="#">Find Connections</a></li>
          <li><button class="btn">Sign Out</button></li>
        </ul>
      </div>


</body>
</html>